# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives:**
**List popular languages for Data Science**
* Scala
* Julia
* Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. PyTorch
4. SciPy

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
print ((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print (" 200 minutes are = " + str(200/60) + " hours")

 200 minutes are = 3.3333333333333335 hours

## Author
Malaak Al Zoubi